.quicknote-card {
    width: 150px;
    height: 150px;
    border: 3px solid #555;
    margin: 10px;
    display: inline-block;
    padding: 0 5px 5px 5px;
    box-shadow: 5px 5px 5px darkgray;
    transform: rotate(3deg);
    transition: transform 2s linear 1s;
}

.quicknote-card h4 {
    font-weight: bold;
    border-bottom: 1px solid #555;
    margin: 0 5px 0 5px;
}

.quicknote-card .body {
    height: 100px;
    margin-top: 0;
    font-size: 10pt;
}

.quicknote-card a {
    margin-top: 0;
}

.scrollable {
    overflow-y: scroll;
}

.scrollable::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #c9c6bc;
}

.scrollable::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

.scrollable::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #efede5;
}